* {
  background-color: #36393f;
  color: #5865f2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 20px;
  border-color: darkgray;
  border-style: solid;
  padding: 5px;
  text-align: center;
}

.inputs {
  float: inline-start;
  padding-bottom: 10px;
}

p {
  text-align: center;
}

input:focus {
  outline: none;
}

button {
  border-radius: 25px;
  border-style: solid;
  cursor: pointer;
  padding: 7px;
  margin: 2px;
  width: 160px;
}

.update {
  border-color: #5865f2;
  background-color: #5865f2;
  color: #36393f;
}

.clear {
  border-color: #ED4245;
  background-color: #ED4245;
  color: white;
}

.infos {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: .7rem;
}

.presets {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  top: 10px;
  left: 10px;
  border-radius: 25px;
  padding: 0px 10px;
  border: 1px solid #5865f2;
  font-size: .7rem;
}

.presets select {
  width: 140px;
  height: 40px;
  border: 0px;
  outline: none;
}